<header>
    <nav class="navbar">
        <h1 class="logo-navbar">
            <a target="_self" href="/index.html">BRYAN CARNAVALE ALVARENGA</a>
        </h1>
        <div class="menu-navbar">
            <a class="social-icon" href="https://www.github.com/bryancalvarenga" target="_blank" rel="noopener noreferrer">
                <i class="bx bxl-github"></i>
            </a>
            <a class="social-icon" href="https://www.linkedin.com/in/bryanalvarenga" target="_blank" rel="noopener noreferrer">
                <i class="bx bxl-linkedin"></i>
            </a>
            <a class="social-icon" href="https://www.instagram.com/bryancalvarenga" target="_blank" rel="noopener noreferrer">
                <i class="bx bxl-instagram"></i>
            </a>
        </div>
    </nav>
</header>